* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: Verdana;
  font-size: 12px;
  line-height: 19px;
}
.clear {
  overflow: hidden;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  margin-bottom: 15px;
}
