* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: Verdana;
  font-size: 12px;
  line-height: 19px;
}
.clear {
  overflow: hidden;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  margin-bottom: 15px;
}

.headesection {
  height: 60px;
  background: #eaf2f4;
  border-top: 5px solid #4d4e49;
  border-bottom: 1px solid #adbcbf;
}
.headeleft {
  float: left;
  width: 500px;
  margin-right: 50px;
  font-family: Georgia;
}
.headeleft h2 {
  float: left;
  font-size: 36px;
  padding: 0px 40px 10px 20px;
  line-height: 40px;
  border-right: 1px solid #000;
  margin-top: 4px;
  color: #4d4e49;
}
.headeleft p {
  float: left;
  font-size: 16px;
  color: #666666;
  margin: 19px 10px 20px 10px;
}

.headeright {
  float: right;
  width: 280px;
  margin-top: 20px;
  margin-right: 20px;
}

.headeright input[type="text"] {
  width: 235px;
  padding: 5px;
  background: #d5e5e8;
  border: 1px solid #a1bcc2;
  color: #666666;
}
.headeright input[type="submit"] {
  padding: 5px;
  background: #d5e5e8;
  border: 1px solid #a1bcc2;
  color: #666666;
  cursor: pointer;
}

.menusection {
  background: #eaf2f4;
  height: 45px;
}
.menuleft {
  float: left;
  width: 817px;
  margin-right: 20px;
}
.menuleft ul {
}
.menuleft ul li {
  float: left;
  list-style: none;
  display: block;
  padding: 8px 25px;
  font-size: 16px;
  border-right: 1px solid #666;
  margin: 5px 0px;
}
.menuleft ul li:last-child {
  border: none;
}
.menuleft ul li a {
  text-decoration: none;
  color: #666;
}
.menuleft ul li a:hover {
}
.menuright {
  float: right;
  width: 143px;
  margin-right: 20px;
  margin-top: 3px;
}
.menuright p {
  margin: 0px;
  color: #666;
  font-size: 12px;
}

.bannersection {
  background: #049bac;
  padding: 50px 20px 50px 20px;
  border-top: 2px solid #116fa6;
  border-bottom: 2px solid #116fa6;
}
.bannerleft {
  float: left;
  width: 466px;
  margin-right: 40px;
}

.bannerleft h2 {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  font-family: Georgia;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.bannerleft p {
  font-size: 12px;
  font-family: Verdana;
  margin-bottom: 38px;
  margin-top: 20px;
  color: #fff;
}

.bannerlink {
}
.banlink {
  width: 160px;
  background: #fff;
  float: left;
  margin-right: 60px;
  padding: 10px 20px;
}
.banlink a {
  color: #333333;
  text-align: center;
  font-family: Georgia;
  font-size: 22px;
  font-weight: normal;
}
.banlink a:hover {
}
.bannerright {
}

.bannerright img {
  width: 428px;
  height: 250px;
  background: #fff;
  padding: 10px;
  border: 1px solid #116fa6;
}

.servicesection {
}

.service {
}
.service h2 {
}

.service h3 {
}
.service p {
}
.service a {
}
.service a:hover {
}

.contentsection {
}
.contentleft {
}

.contentleft h2 {
}

.contentleftdesc {
}

.leftimage {
}

.leftimage img {
}

.righttext {
}

.righttext h4 {
}
.righttext p {
}
.righttext a {
}
.righttext a:hover {
}

.contentleftdesc {
}

.leftimage img {
}

.righttext {
}
.righttext h4 {
}

.righttext p {
}

.contentright {
}

.contentright h2 {
}
.contentright img {
}
.contentright h4 {
}
.contentright p {
}

.footertop {
}

.samefooter {
}
.samefooter h2 {
}
.samefooter p {
}

.samefooter input[type="text"] {
}
.samefooter input[type="submit"] {
}

.samefooter a {
}
.samefooter a:hover {
}

.samefooter ul {
}

.samefooter ul li {
}
.samefooter ul li a {
}
.samefooter ul li a:hover {
}
.samefooter p {
}
.footerbottom {
}
.footleft {
}

.footleft p {
}

.footright {
}
.footright p {
}
